.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container{
  margin-top: 20px;
}

.grid {
  display: grid;
  margin: 20px;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  cursor: "pointer",
}


.controls {
  margin-top: 20px;
  margin-bottom: 20px;
}

.controls button {
  margin-right: 10px;
  cursor: pointer;
}

input[type='number'] {
  width: 60px;
  margin-right: 10px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.navbar-brand,
.nav-link {
  cursor: pointer;
}






